body{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(162, 119, 202);
    
}
.box{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: auto;
    border: 2px solid ;
}
.input{
    padding: 10px;
    width:auto;
}